/*ESTILOS GERAIS*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Oswald", sans-serif;
}

body {
    height: 100vh;
    background-color: #D1CCBD;
}

.btn-doacao button {
    padding: 15px 45px;
    font-size: 18px;
    font-weight: 600;
    background-color: #da291ce8;
    border: 0;
    border-radius: 25px;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.856);
    transition: .2s;
    margin-right: 30px;
}

.interface {
    max-width: 1280px;
    margin: 0 auto;
}

/* ESTILO HEADER*/
header {
    position: fixed;
    background-color: #f0f0f0f3;
    z-index: 10;
    position: relative;
    min-height: 80px;
    padding: 15px 4%;
}

header .logo {
    margin-top: 20px;
    margin-left: 30px;
    transition: transform 0.3s ease-in-out;
}

header .logo:hover {
    transform: scale(1.09);
}

header>.interface {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a {
    color: rgba(49, 49, 49, 0.959);
    text-decoration: none;
    display: inline-block;
    transition: .2s;
    font-size: 18px;
}

header nav.menu-desktop a:hover {
    color: rgb(87, 87, 87);
    transform: scale(1.05);
}

header nav.menu-desktop ul {
    list-style-type: none;
}

header nav.menu-desktop ul li {
    display: inline-block;
    padding: 0 40px;
}

.btn-doacao button:hover {
    box-shadow: 0px 0px 8px rgba(255, 0, 0, 0.9);
    transform: scale(1.05);
}

/*ESTILO DO MENU MOBILE */

.btn-abrir-menu {
    display: none;
    position: absolute;
    right: 35px;
    font-size: 35px;
}


.menu-mobile {
    background-color: rgba(255, 255, 255, 0.904);
    height: 100%;
    width: 0%;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 99999;
    overflow: hidden;
    transition: .7s;
    position: fixed;
}

.menu-mobile .btn-fechar i {
    color: black;
    font-size: 30px;
}

.menu-mobile .btn-fechar {
    padding: 20px 5%;
}

.menu-mobile.abrir-menu {
    width: 70%;
}

.menu-mobile.abrir-menu~.overlay-menu {
    display: block;
}

.menu-mobile nav ul {
    text-align: right;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.menu-mobile nav ul li a {
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-weight: 300;
    padding: 20px 8%;
    display: block;
}

.menu-mobile nav ul li a:hover {
    background-color: rgba(189, 189, 189, 0.795);
    color: rgb(255, 255, 255);
}

/*MAIN*/

.donation-description-container {
    max-width: 1000px;
    margin: 20px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.donation-header {
    text-align: center;
    margin-bottom: 20px;
}

.donation-header h2 {
    font-size: 32px;
    line-height: 37px;
    color: #212529;
    letter-spacing: 0px;
    font-weight: 500;
    margin-bottom: 15px;
    color: #333;
}

.donation-header p {
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0px;
    color: #121212;
    padding: 10px;
    font-weight: 350;
    font-family: 'lato' sans-serif;
    text-align: justify;
}

.donation-benefits {
    list-style-type: disc;
    color: #222222;
    margin: 10px 0;
    padding-left: 20px;
    text-align: left;
    text-align: justify;
  
}

.donation-benefits li {
    margin-bottom: 10px;
    font-family: 'Segoe UI';
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0px;
}

/* Contribuição */

.contribution-info {
    max-width: 1000px;
    margin: 20px auto;
    padding: 30px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.contribution-info h3 {
    font-size: 20px;
    line-height: 27px;
    letter-spacing: 0;
    margin-bottom: 30px;
    font-weight: bold;
    color: #4A4F53;
    text-align: left;
}

.contribution-type {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-bottom: 20px;
    justify-content: flex-start;
}

.contribution-type input[type="radio"] {
    display: none; 
}

.contribution-type label {
    position: relative;
    padding-left: 35px;
    font-size: 20px;
    line-height: 27px;
    letter-spacing: 0px;
    color: #121212;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    cursor: pointer;
}

.contribution-type label::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    border: 2px solid #121212; 
    border-radius: 50%;
    background: #fff; 
    transition: all 0.3s ease; 
}

.contribution-type input[type="radio"]:checked + label::before {
    background-color: #da291c; 
    border-color: #da291c; 
}

.amount-options {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px; 
    justify-content: center;
    margin-bottom: 20px;
    margin-right: 10px;
}

.amount-btn {
    background-color: #444;
    color: #fff;
    border: none;
    padding: 10px 20px; 
    font-size: 1.5rem; 
    cursor: pointer;
    border-radius: 8px;
    transition: all 0.3s ease-in-out; 
    width: 100%;
    max-width: 280px; 
    font-weight: 700;
    text-align: center; 
}

.amount-btn:hover {
    background-color: #333;
    transform: scale(1.05); 
}

.amount-btn.selected {
    background-color: #da291c; 
}

.custom-amount-container {
    text-align: left;
    margin-bottom: 20px;
}

.custom-amount-wrapper {
    position: relative;
    display: inline-block;
}

.currency-symbol {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    font-size: 20px; 
    color: #333;
}

.custom-amount {
    width: 475px;  
    padding: 15px 15px 15px 35px; 
    font-size: 17px; 
    border: 1px solid #0000006c;
    border-radius: 5px;
    box-sizing: border-box; 
    color: #121212 ;
}

.custom-amount::placeholder {
    color: #121212; 
    opacity: 1; 
}

.custom-amount:focus {
    border-color: #888888; 
    outline: none; 
}

input[type="checkbox"] {
    width: 13px;
    height: 13px;
    transform: scale(1.5); 
    margin-right: 10px; 
    border-radius: 2px;
}

.transaction-fee-option {
    text-align: left;
}

.transaction-fee-option label {
    font-size:20px;
    color: black;
    font-family: 'lato' sans-serif;
    font-weight: 300;
}


.contribution-info p {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0px;
    color: #121212;
    margin-bottom: 16px; 
}

.donation-benefits {
    list-style-type: disc;
    color: #555;
    margin: 10px 0; 
    padding-left: 20px;
    text-align: left;
}

.donation-benefits li {
    margin-bottom: 10px;
    font-size: 1rem;
    line-height: 1.6;
}

/* Contêiner que envolve o checkbox e o botão */
.transaction-container {
    display: flex;
    justify-content: space-between; /* Espaço entre o checkbox e o botão */
    align-items: center; /* Alinha verticalmente no centro */

}

/* Ajustes no botão para gerar o QR Code */
#generate-qr {
    background-color: #da291c; /* Cor de fundo vermelha */
    color: white; /* Texto em branco */
    border: none;
    padding: 15px 50px; /* Tamanho do botão */
    font-size: 18px; /* Tamanho da fonte */
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease; /* Efeito suave ao passar o mouse */
    text-align: center; /* Alinha o texto no centro do botão */
    margin-right: 50px;
    border-radius: 4px;
}

/* Efeito de hover com leve aumento */
#generate-qr:hover {
    transform: scale(1.05); /* Aumenta levemente o botão ao passar o mouse */
    background-color: #c1271a; /* Muda a cor de fundo no hover */
}


/* Estilos para o modal */
.modal {
    display: none; /* Escondido por padrão */
    position: fixed; 
    z-index: 1000; /* Coloca o modal acima de outros elementos */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* Scroll se necessário */
    background-color: rgba(0, 0, 0, 0.7); /* Fundo escurecido */
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: white;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    width: 300px; /* Largura do modal */
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

/* Botão para fechar o modal */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover, .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Estilo para o QR Code dentro do modal */
#qrCodeContainer img {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
}


/*CONTACT INFORMATION*/

.contribution-info {
    max-width: 1000px;
    margin: 20px auto;
    padding: 30px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact-info {
    max-width: 1000px; 
    margin: 20px auto; 
    padding: 30px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.contact-info h3 {
    margin-top: 0; 
    font-size: 22px;
    margin-bottom: 25px;
    font-weight: bold;
    color: #4A4F53;
    text-align: left;
}

.contact-info .form-fields {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 20px;
    align-items: start; 
}

.contact-info > div {
    display: flex;
    justify-content: flex-start; /* Alinha o botão à esquerda */
    margin-top: 20px; /* Pequeno espaçamento acima do botão */
}

.form-fields {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

.input-group {
    display: flex;
    flex-direction: column;
}

.input-group label {
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 17px;
    color: #333333b6;
}

.input-group input,
.input-group select {
    padding: 15px;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.optional {
    font-weight: normal;
    color: #999;
    font-size: 0.9rem;
}

.submitBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 58px;
    max-width: 500px;
    width: 100%;
    border: none;
    outline: none;
    color: #fff;
    border-radius: 5px;
    margin: 30px 10px 30px 0;
    background-color: #4070f4e8;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    font-size: 20px;
}

.submitBtn:hover {
    background-color: #2657d3;
    transform: scale(1.03);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

.submitBtn .btnText {
    margin-right: 15px;
}

.submitBtn i {
    font-size: 25px;
}


@media screen and (max-width: 1020px) {

    /*CABECALHO*/
    .menu-desktop,
    .btn-doacao {
        display: none;
    }

    .btn-abrir-menu {
        display: block;
    }

    /*RODAPE*/
    footer .line-footer2 img,
    footer .line-footer2 p {
        display: none;
    }

    .box-line-footer .btn-redes button {
        margin-bottom: 5px;
    }

    .box-line-footer .btn-redes a {
        margin-right: 100px;
    }
}

/* ESTILO FOOTER */

footer {
    position: relative;
    width: 100%;
    bottom: 0;
    background-color: #292E32;
    color: white;
    padding: 40px 0;
    margin-top: auto;
}

body,
html {

    flex-direction: column;
}

footer .line-footer1 {
    text-align: center;
    border-bottom: 1px solid white;
    padding-bottom: 40px;
}

.line-footer1 h2 {
    font-size: 2.5rem;
}

.line-footer1 p {
    font-size: 1.2rem;
    margin: 10px 0 20px 0;
}

.line-footer1 form {
    display: flex;
    align-items: center;
    justify-content: center;
}

.line-footer1 form input[type=email] {
    width: 300px;
    height: 40px;
    background: transparent;
    border: 2px solid #fff;
    color: #fff;
    padding: 10px;
    outline: 0;
    border-radius: 10px;
    font-size: 17px;
}

.line-footer1 form input[type=submit] {
    padding: 10px 30px;
    background-color: #DA291C;
    border: 0;
    cursor: pointer;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 600;
    color: rgb(255, 255, 255);
    transition: .2s;
    margin-left: 5px;
}

.line-footer1 form input[type=submit]:hover {
    box-shadow: 0px 0px 8px #DA291C;
    transform: scale(1.05);
}

footer .line-footer2 {
    padding: 40px 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid white;
}

footer .line-footer2 .box-line-footer {
    max-width: calc(100% / 5);
}

.endereco-footers ul li {
    list-style-type: none;
    margin-bottom: 5px;
    font-weight: 300;
    font-size: 16px;

}

footer .box-line-footer img {
    max-width: 200px;
    padding: auto;
    margin-left: 85px;
}

footer .box-line-footer p {
    margin-left: 50px;
    font-style: italic;
    margin-top: 10px;
}

.line-footer2 .box-line-footer h3 {
    color: white;
    margin-bottom: 15px;
    font-weight: 400;
}

.line-footer2 .box-line-footer .links-footers a {
    color: white;
    display: block;
    margin-bottom: 5px;
    text-decoration: none;
    font-size: 1rem;
    margin-bottom: 6px;
    font-weight: 300;
    transition: .2s;
}

.line-footer2 .box-line-footer a:hover {
    transform: scale(1.05);
}

.box-line-footer .btn-redes a {
    display: inline;
    margin-right: 10px;
}

.box-line-footer .btn-redes button {
    width: 40px;
    height: 40px;
    border-radius: 50px;
    font-size: 1.2rem;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    cursor: pointer;
    margin-right: 10px;
    font-weight: 600;
    transition: .2s;
}

.box-line-footer .btn-redes button:hover {
    transform: scale(1.05);
}

footer .line-footer3 {
    padding-top: 30px;
    text-align: center;
}


#newsletter-form {
    display: flex;
    align-items: center;
    gap: 10px; 
}

#newsletter-email {
    padding: 15px;
    font-size: 18px;
    border: 2px solid #ddd;
    border-radius: 5px;
    width: 300px; 
    transition: all 0.3s ease-in-out; 
}

.btn-cadastre-se {
    padding: 10px 20px;
    font-size: 15px;
    font-weight: 600;
    background-color: #DA291C;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out; 
}

.btn-cadastre-se:hover {
    background-color: #b22218; 
    transform: scale(1.05); 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); 
}
#newsletter-form {
    display: flex;
    align-items: center;
    gap: 10px; 
}

#newsletter-email {
    padding: 15px;
    font-size: 18px;
    border: 2px solid #ddd;
    border-radius: 5px;
    width: 300px; 
    transition: all 0.3s ease-in-out; 
}

.btn-cadastre-se {
    padding: 10px 20px;
    font-size: 15px;
    font-weight: 600;
    background-color: #DA291C;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out; 
}

.btn-cadastre-se:hover {
    background-color: #b22218; 
    transform: scale(1.05); 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); 
}

@media screen and (max-width: 768px) {
    .contact-info {
        width: 90%;
        margin: 0 auto;
        padding: 20px 15px;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .form-fields {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
    
    /* Reduzindo a largura das caixas de informações de contato no mobile */
    .contribution-info, .donation-description-container {
        width: 90%;
        margin: 0 auto;
      margin-top: 15px;
        
    }
    .input-group {
        width: 100%;
        padding: 0;
    }

    /* Ajuste do input para que não ultrapasse a tela */
    .input-group input,
    .input-group select {
        width: 100%;
        max-width: 100%;
    }

    .amount-options {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 10px;
    }

    .amount-btn {
        width: calc(50% - 10px);
    }
    
    .form-fields {
        grid-template-columns: 1fr; /* Faz os campos ocuparem toda a largura */
    }

    .submitBtn {
        width: 100%;

    }

    /* Adicionando padding nas laterais para evitar que encoste nas bordas */
    .custom-amount-container, .transaction-fee-option {
        padding: 0 10px;
    }

     /*RODAPE*/

     footer .line-footer2 img,
     footer .line-footer2 p {
         display: none;
     }
 
     .box-line-footer .btn-redes button {
         margin-bottom: 5px;
     }
 
     .box-line-footer .btn-redes a {
         margin-right: 100px;
     }
}




